* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    width: 100%;
    height: 1000px;
    position: relative;
}

a {
    text-decoration: none;
    color: #666;
}

.sideContainer {
    width: 38px;
    height: 100%;
    color: #666;
    background: #F6F6F6;
    border-left: 1px solid #ccc;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 12px;
    z-index: 100;
}
.sideContainer p{
    margin: 10px auto;
    padding: 25px 0 0 0;
    text-align: center;
    width: 20px;
    line-height: 15px;
    font-size: 12px;
}
.sideContainer .btnBox {
    position: absolute;
    top: 62px;
    width: 100%;
    border-top: 1px solid #ccc;
    cursor: pointer;
}

.sideDown {
    height: 100px;
    width: 100%;
    background: url("../img/1phone.png") 10px 8px no-repeat;
}

.sideDown:hover {
    color: #fff;
    background: url("../img/2phone.png") 10px 8px no-repeat #F33866;
}

.sideApp {
    display: inline-block;
    width: 38px;
    height: 24px;
    line-height: 24px;
    margin: 10px 0 0 -13px;
    transform: rotate(90deg);
}

.sideWords {
    margin: 0 auto;
    padding: 30px 0 0 5px;
    width: 20px;
    font-size: 12px;
}

.sideqCode {
    position: absolute;
    top: 0;
    right: 38px;
    width: 140px;
    height: 140px;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: none;
    z-index: 10;
}
.sideqCode::after{
    content: '';
    display: block;
    position: absolute;
    top: 48px;
    right: -8px;
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-left: 20px solid #fff;
    transform:rotate(45deg);
 }


.sideCar {
    width: 100%;
    height: 100px;
    border-top: 1px solid #ccc;
    background: url("../img/2buye_17x13.png") no-repeat 8px 10px;
}
.sideCar:hover {
    background: url("../img/2car.png") 8px 10px no-repeat #F33866;
}
.sideCar:hover p{
    color: #fff;
}
.sideMesg {
    width: 100%;
    height: 100px;
    border-top: 1px solid #ccc;
    background: url("../img/3mes.png") no-repeat 9px 10px;
}
.sideMesg:hover {

    background: url("../img/3mes1.png") 9px 10px no-repeat #F33866;
}
.sideMesg:hover p{
    color: #fff;
}
.sideCard{
    height: 100px;
    width: 100%;
    border-top: 1px solid #ccc;
    background: url("../img/4card.png")no-repeat 9px 10px;
}
.sideCard:hover {

    background: url("../img/4card18x13.png") 9px 10px no-repeat #F33866;
}
.sideCard:hover p{
    color: #fff;
}
.sideMark {
    height: 100px;
    width: 100%;
    border-top: 1px solid #ccc;
    background: url("../img/5star.png")no-repeat 8px 10px;
}
.sideMark:hover {

    background: url("../img/5star19x18.png") 8px 10px no-repeat #F33866;
}
.sideMark:hover p{
    color: #fff;
}
.sideFoot {
    width: 100%;
    height: 100px;
    border-top: 1px solid #ccc;
    background: url("../img/6foot.png") no-repeat 10px 8px;
}
.sideFoot:hover {
    background: url("../img/6foot15x21.png") 10px 8px no-repeat #F33866;
}
.sideFoot:hover p{
    color: #fff;
}
.backTop{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ccc;
    background: url("../img/7arrowred.png") no-repeat center;
    display: none;
}
.backTop:hover{
    background:url("../img/7arrow.png") no-repeat center #F33866;
}



















