@font-face {
    font-family: lisancai;
    src: url(wbficon.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: nk;
    src: url(wbficon.woff) format("woff");
    font-style: normal;
}