* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
i,
em {
  font-style: normal;
  font-weight: normal;
}
input {
  outline-style: none;
}
.W_Yahei {
  font-family: "Microsoft Yahei";
}
.CH {
  background-position: 4px 8px;
  font-family: "SimSun";
}
.HK {
  background-position: 4px -18px;
  font-family: "SimSun";
}
.MO {
  background-position: 4px -44px;
  font-family: "SimSun";
}
.TW {
  background-position: 4px -70px;
  font-family: "SimSun";
}
.US {
  background-position: 4px -44px;
  font-family: "SimSun";
}
.CA {
  background-position: 4px -122px;
  font-family: "SimSun";
}
.BR {
  background-position: 4px -434px;
  font-family: "SimSun";
}
.MY {
  background-position: 4px -148px;
  font-family: "SimSun";
}
.AU {
  background-position: 4px -174px;
  font-family: "SimSun";
}
.JP {
  background-position: 4px -200px;
  font-family: "SimSun";
}
.KP {
  background-position: 4px -226px;
  font-family: "SimSun";
}
.SG {
  background-position: 4px -252px;
  font-family: "SimSun";
}
.UK {
  background-position: 4px -356px;
  font-family: "SimSun";
}
.FR {
  background-position: 4px -382px;
  font-family: "SimSun";
}
.RU {
  background-position: 4px -408px;
  font-family: "SimSun";
}
.ID {
  background-position: 4px -278px;
  font-family: "SimSun";
}
.TH {
  background-position: 4px -330px;
  font-family: "SimSun";
}
.IT {
  background-position: 4px -694px;
  font-family: "SimSun";
}
.IN {
  background-position: 4px -460px;
  font-family: "SimSun";
}
.KH {
  background-position: 4px -486px;
  font-family: "SimSun";
}
.MM {
  background-position: 4px -512px;
  font-family: "SimSun";
}
.BN {
  background-position: 4px -538px;
  font-family: "SimSun";
}
.PH {
  background-position: 4px -564px;
  font-family: "SimSun";
}
.VN {
  background-position: 4px -590px;
  font-family: "SimSun";
}
.LA {
  background-position: 4px -616px;
  font-family: "SimSun";
}
body {
  background: url("https://img.t.sinajs.cn/t5/style/images/register/reg_repeat_bg.png?id=1370232467958") repeat-x #bee1f5;
  display: block;
  font: 12px/1.125 Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.W_header_line {
  height: 3px;
  border-bottom: 1px solid #e6f1f9;
  background: url("https://img.t.sinajs.cn/t5/style/images/register/top_line_bg.png?id=1370232467958") repeat-x center 0;
  overflow: hidden;
}
.W_reg_header {
  width: 900px;
  margin: 0 auto;
  padding: 10px 0;
}
.W_logo_wave {
  height: 164px;
  background: url("https://img.t.sinajs.cn/t5/style/images/register/bg_reg_wave.png?id=1370232467958") no-repeat center bottom;
}
.W_nologin_logo_big {
  width: 200px;
  height: 72px;
  margin: 0 auto;
  margin-top: 26px;
  background: url("https://img.t.sinajs.cn/t5/style/images/register/logo_big.png?id=1395992824012") no-repeat;
}
.W_nologin .main_radius_bg {
  width: 900px;
  margin: 0 auto 15px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px #98b4c4;
}
.W_nologin .main_radius_bg .main_tab_line {
  padding: 24px 0 22px 40px;
}
.W_nologin .main_radius_bg .main_tab_line .cur {
  border-bottom: 3px solid #ffa00a;
}
.W_nologin .main_radius_bg .main_tab_line .vline {
  margin: 0 19px;
  color: #999;
}
.W_nologin .main_radius_bg .main_tab_line a {
  display: inline-block;
  font-size: 22px;
  color: #333;
  line-height: 33px;
}
.W_nologin .main_radius_bg .W_reg_form {
  width: 600px;
  margin: 29px 0 0 20px;
  padding-bottom: 78px;
  float: left;
}
.W_nologin .main_radius_bg .W_reg_form .no_sina_area_tips {
  padding: 0 0 10px 20px;
  line-height: 20px;
  color: #333;
  position: relative;
  top: -25px;
}
.W_nologin .main_radius_bg .W_reg_form .info_list {
  margin: 0 0 15px;
  position: relative;
}
.W_nologin .main_radius_bg .W_reg_form .info_list .tit {
  width: 160px;
  font-size: 14px;
  float: left;
  line-height: 30px;
  text-align: right;
}
.W_nologin .main_radius_bg .W_reg_form .info_list .tit .mobile_ico {
  display: inline-block;
  width: 20px;
  height: 23px;
  background: url("https://img.t.sinajs.cn/t5/style/images/register/reg_method_s.png?id=1370232467958") no-repeat 0 0;
  background-position: 0 -24px;
  vertical-align: middle;
  margin-right: 6px;
}
.W_nologin .main_radius_bg .W_reg_form .info_list .tit i {
  color: #f00;
  font-family: "SimSun";
}
.W_nologin .main_radius_bg .W_reg_form .inp {
  margin-left: 160px;
}
.W_nologin .main_radius_bg .W_reg_form .inp .flag_tel .tel_country {
  float: left;
  padding: 8px 4px;
  width: 27px;
  height: 12px;
  border: 1px solid #ccc;
  background-image: url("https://img.t.sinajs.cn/t5/style/images/register/reg_flag.png?id=110220171210");
  background-repeat: no-repeat;
}
.W_nologin .main_radius_bg .W_reg_form .inp .flag_tel .tel_country:hover {
  background-color: #f2f2f2;
}
.W_nologin .main_radius_bg .W_reg_form .inp .flag_tel .W_input_focus {
  position: relative;
  z-index: 2;
}
.W_nologin .main_radius_bg .W_reg_form .inp .flag_tel .foreign_tel {
  float: left;
  width: 157px;
  padding-left: 5px;
  position: relative;
  left: -1px;
  height: 28px;
  background: #fff;
}
.W_nologin .main_radius_bg .W_reg_form .inp .flag_tel .foreign_tel .tel_forenum {
  float: left;
  margin: 0 5px 0 0;
  font-size: 14px;
  line-height: 28px;
}
.W_nologin .main_radius_bg .W_reg_form .inp .flag_tel .foreign_tel .tel_num {
  width: 112px;
  box-shadow: none;
  height: 28px;
  font-size: 14px;
  border: none;
  background: none;
  color: #808080;
}
.W_nologin .main_radius_bg .W_reg_form .inp .W_input {
  font-size: 14px;
  border: 1px solid #ccc;
  height: 28px;
  width: 196px;
  padding: 0 0 0 2px;
  vertical-align: middle;
  color: #808080;
  box-shadow: 0 1px 1px 0 #eaeaea inset;
}
.W_nologin .main_radius_bg .W_reg_form .inp .attachment {
  padding-top: 8px;
  font-size: 9.6px;
}
.W_nologin .main_radius_bg .W_reg_form .inp .attachment a {
  color: #0a8cd2;
}
.W_nologin .main_radius_bg .W_reg_form .inp .W_btn_e {
  display: inline-block;
  border: 1px solid #d9d9d9;
  background: #f2f2f2;
  overflow: hidden;
  color: #333;
  height: 26px;
  line-height: 25px;
  width: 120px;
  text-align: center;
}
.W_nologin .main_radius_bg .W_reg_form .inp .W_btn_e span {
  width: 120px;
  padding: 0 2px 0 0;
}
.W_nologin .main_radius_bg .W_reg_form .inp .jh_inp {
  width: 66px;
  margin-left: 5px;
  height: 26px;
  vertical-align: top;
}
.W_nologin .main_radius_bg .W_reg_form .tips {
  position: absolute;
  left: 400px;
  top: 6px;
}
.W_nologin .main_radius_bg .W_reg_form .tips .error,
.W_nologin .main_radius_bg .W_reg_form .tips .notice {
  display: none;
  color: #e64141;
  font-size: 12px;
  line-height: 18px;
  text-indent: -20px;
}
.W_nologin .main_radius_bg .W_reg_form .tips .error .icon_rederrors,
.W_nologin .main_radius_bg .W_reg_form .tips .notice .icon_rederrors {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url("https://img.t.sinajs.cn/t5/style/images/common/ico_warn.png?id=1375862658279");
  background-repeat: no-repeat;
  background-position: 0 -250px;
  margin: 0 3px 0 0;
  overflow: hidden;
  display: inline-block;
}
.W_nologin .main_radius_bg .W_reg_form .tips .notice {
  color: #999;
}
.W_nologin .main_radius_bg .W_reg_form .tips .notice .notice_span {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url("https://img.t.sinajs.cn/t5/style/images/common/ico_warn.png?id=1375862658279");
  background-repeat: no-repeat;
  background-position: 0 -200px;
  margin: 0 3px 0 0;
  overflow: hidden;
  display: inline-block;
}
.W_nologin .main_radius_bg .W_reg_form .info_submit {
  margin: 30px 0 12px;
}
.W_nologin .main_radius_bg .W_reg_form .info_submit .W_btn_big {
  border: 1px solid #ff9b01;
  border-radius: 2px;
  display: inline-block;
}
.W_nologin .main_radius_bg .W_reg_form .info_submit .W_btn_big span {
  width: 196px;
  height: 18px;
  padding: 10px 0 8px;
  line-height: 18px;
  font-size: 16px;
  border: 1px solid #ffb33b;
  color: #fff;
  font-weight: bold;
  background: #ffa00a;
  text-align: center;
  font-style: normal;
  display: inline-block;
}
.W_nologin .main_radius_bg .W_reg_form .verify {
  vertical-align: middle;
}
.W_nologin .main_radius_bg .W_reg_form .verify .agreement {
  margin: 0 0 7px;
}
.W_nologin .main_radius_bg .W_reg_form .verify .agreement a {
  color: #0a8cd2;
  font-size: 12px;
}
.W_nologin .W_reg_info {
  background-position: 630px -45px;
  background: url("https://img.t.sinajs.cn/t5/style/images/register/reg_vline.png?id=1370232467958") no-repeat scroll 630px 0;
}
.W_input_focus {
  border-color: #ffb941!important;
  box-shadow: 1px 1px 1px 0 #ddd inset;
}
.W_reg_sidebar {
  float: right;
  width: 210px;
  margin: 30px 30px 0 0;
  font-size: 14px;
  line-height: 22px;
}
.W_reg_sidebar .p1 {
  margin: 0 0 14px;
  padding: 0 0 6px;
}
.W_reg_sidebar .p1 a {
  color: #0a8cd2;
}
.W_reg_sidebar .line {
  border-bottom: 1px dotted #ccc;
}
.W_reg_sidebar .reg_help {
  font-size: 12px;
  margin-top: 10px;
}
.W_reg_sidebar .reg_help ul li {
  margin-top: 5px;
  overflow: hidden;
}
.W_reg_sidebar .reg_help ul li i {
  float: left;
  margin: 4px 10px 0 0 ;
  width: 15px;
  height: 18px;
  line-height: 15px;
  text-align: center;
  color: #fff;
  background: url("https://img.t.sinajs.cn/t5/style/images/register/bg_listNum.png?id=1370232467958") no-repeat;
}
.W_reg_sidebar .reg_help ul li a {
  color: #0a8cd2;
  float: left;
  width: 175px;
  overflow: hidden;
  display: block;
}
.W_reg_sidebar .reg_help .help_more {
  display: inline-block;
  margin: 16px 0 0 25px;
  color: #0a8cd2;
}
/*下面小横条*/
.nologin_footer {
  width: 900px;
  margin: 0 auto;
}
.nologin_footer .left_link {
  float: left;
}
.nologin_footer .left_link .footer_logo {
  display: inline-block;
  width: 26px;
  height: 21px;
  background: url("https://img.t.sinajs.cn/t5/style/images/register/reg_ico.png?id=1370232467958") no-repeat 0 4px;
  vertical-align: -4px;
}
.nologin_footer .left_link .company_name {
  font-style: normal;
  margin-right: 10px;
  color: #6e9ab8;
}
.nologin_footer .left_link a {
  color: #6e9ab8;
}
.nologin_footer .copy {
  float: right;
  text-align: right;
  color: #6e9ab8;
}
.nologin_footer .copy select {
  margin-left: 10px;
  font-size: 12px;
}
.layer_menu_list {
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1px;
}
.layer_menu_list .y_scroll {
  overflow-y: scroll;
  height: 225px;
  clear: both;
}
.layer_menu_list .y_scroll li {
  list-style: none;
}
.layer_menu_list .y_scroll li a {
  white-space: nowrap;
  padding: 8px 10px;
  color: #333;
  display: block;
}
.layer_menu_list .y_scroll li a .W_ico12 {
  width: 12px;
  height: 12px;
  background: url("https://img.t.sinajs.cn/t5/style/images/common/icon.png?id=20141016154300") no-repeat;
  vertical-align: middle;
}
.layer_menu_list .y_scroll li a .icon_addone {
  background-position: -125px -49px;
  margin-right: 4px;
  display: inline-block;
  opacity: 0;
}
.layer_menu_list .y_scroll li a:hover {
  background: #e6e6e6;
}
.layer_menu_list .y_scroll li.select a em {
  opacity: 1;
}
